html,
body {
  padding: 0;
  margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
    font-family: 'Michroma', sans-serif;
  color: black;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 



/* this is for mobile */
.navbar {
  background-color: #eeeee8;
  padding: 1px 50px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  margin-bottom: 2em;
  color: black;
}

.navbar {
  background-color: #eeeee8;
  width: 100%;
  padding: 1px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 30px;
  width: 80px;
}
.nav-link {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  font-size: 8px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link:hover {
  text-decoration: underline;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-image {
  width: 100%;
  height: auto;
=======
  width: 65em;
  height: 38em;
>>>>>>> 8f58782b1691edc5c2efd25371d790eeed1450e5
}
.header-text {
  color: white;
  font-size: 12px;
}
.header-title {
  position: absolute;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eeeee8;
}
.about-title {
  margin-bottom: 1.5em;
}
.about-image {
  width: 100%;
  height: auto;
}

.section-image {
  padding: 10px 10px;
  width: 100%;
  height: auto;
}

.contact-image {
  padding: 10px 10px;
  width: 30em;
  height: 35em;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #eeeee8;
  align-items: center;
  width: 100%;
}
.image-container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}
.image-link {
  position: absolute;
  width: 400px;
  height: 430px;
}

.section-text {
  padding: 8em 3em;
  line-height: 2em;
  color: black;
  font-size: 10px;
}
.section-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
  color: black;
}
.section-small-title {
  font-size: 16px;
}
.section-small-text {
  font-size: 5.75px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeee8;
  padding: 80px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.services-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  color: black;
  margin-left: 10px;
  padding-bottom: 20px;
}
.services-title {
  margin-right: 80px;
  font-size: 14px;
  width: 80px;
}
.services-description {
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
}

button {
  margin: 5em;
  background-color: black;
  color: white;
  padding: 15px 12px;
  border: none;
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeee8;
  padding: 3em;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: black;
  font-size: 10px;
  padding: 4em;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}
.footer-link {
  font-size: 24px;    
  color: white;
  text-decoration: underline;
}
.footer-text {
  font-size: 6px;
  color: white;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeee8;
  padding: 2em 2em;
  height: auto;
}
.small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeee8;
  padding: 7.8em 1em;
  height: auto;
}
.work-pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hmd-pagination {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.work-link {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 8px;
}
.work-link:hover {
  text-decoration: underline;
}
.work-text {
  color: black;
  width: 100%;
  font-size: 12px;
  line-height: 25px;
  padding: 1em;
}

/* for tablet */
@media screen and (min-width: 750px) {
  .navbar {
    background-color: #eeeee8;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 0.7em;
    color: black;
  }
  
  .navbar {
    background-color: #eeeee8;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    height: 50px;
    width: 140px;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .header-image {
    width: 100%;
    height: auto;
  }
  .header-text {
    color: white;
    font-size: 1.5em;
  }
  .header-title {
    position: absolute;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 5em;
  }
  .section-text {
    padding: 2em 3em;
    line-height: 2em;
    color: black;
    width: 100%;
    font-size: 10px;
    margin-bottom: 4em;
  }
  .about-title {
    margin-bottom: 1.5em;
  }
  .about-image {
    width: 100%;
    height: auto;
  }

  .section-image {
    padding: 10px 10px;
  }
  .section-image:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: #eeeee8;
    align-items: center;
    padding: 4em;
  }
  .image-container {
    display: flex;
    flex-direction: column;
  }
  .image-link {
    position: absolute;
    width: 400px;
    height: 430px;
  }
  
  .section-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15em 3em;
    width: 100%;
    color: black;
  }

  .section-small-title {
    font-size: 40px;
  }
  .section-small-text {
    font-size: 10px;
  }

  
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeee8;
    padding: 5em;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .services-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    color: black;
    margin-left: 10px;
    padding-bottom: 20px;
  }
  .services-title {
    margin-right: 80px;
    font-size: 14px;
    width: 80px;
  }
  .services-description {
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    padding-top: 6px;
  }
  
  button {
    margin: 5em;
    background-color: black;
    color: white;
    padding: 2em 3em;
    border: none;
    font-size: 0.75em;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.5;
  }
  
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 3em;
  }
  
  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: black;
  }
  .contact-image {
    padding: 10px 10px;
    height: auto;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em;
  }
  .footer-link {
    font-size: 2em;    
    color: white;
    text-decoration: none;
  }
  .footer-link:hover {
  text-decoration: underline;
  }
  .footer-text {
  color: white;
  font-size: 10px;
  }
  
  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 5em 5em;
  }
  .small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 10em 5em;
  }
  .work-pagination {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hmd-pagination {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .work-link {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
  }
  .work-link:hover {
    text-decoration: underline;
  }
  .work-text {
    color: black;
    width: 60%;
    line-height: 40px;
  }
}

/* laptop and larger */
@media screen and (min-width: 850px) {
  .navbar {
    background-color: #eeeee8;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 0.7em;
    color: black;
  }
  
  .navbar {
    background-color: #eeeee8;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    height: 70px;
    width: 180px;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .header-image {
    width: 2000px;
    height: 1200px;
  }
  .header-text {
    color: white;
    font-size: 3em;
  }
  .header-title {
    position: absolute;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 5em;
  }
  .section-text {
    padding: 2em 3em;
    line-height: 2em;
    color: black;
    width: 50%;
    font-size: 14px;
  }
  .about-title {
    margin-bottom: 1.5em;
  }
  .about-image {
    width: 700px;
    height: 800px;
  }
  .about-image:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .section-image {
    padding: 10px 10px;
  }
  .section-image:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: #eeeee8;
    align-items: center;
    padding: 4em;
  }
  .image-container {
    display: flex;
    flex-direction: row;
  }
  .image-link {
    position: absolute;
    width: 400px;
    height: 430px;
  }
  
  .section-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15em 10em;
    color: black;
  }

  .section-small-title {
    font-size: 50px;
  }
  .section-small-text {
    font-size: 12px;
  }

  
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeee8;
    padding: 5em;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .services-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    color: black;
    margin-left: 7em;
  }
  .services-title {
    margin-right: 8em;
    font-size: 2em;
    width: 150px;
  }
  .services-description {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
  }
  
  button {
    margin: 5em;
    background-color: black;
    color: white;
    padding: 2em 3em;
    border: none;
    font-size: 0.75em;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.5;
  }
  
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeee8;
    padding: 3em;
  }
  
  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: black;
    font-size: 14px;
  }
  .contact-image {
    padding: 10px 10px;
    width: 100%;
    height: auto;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em;
  }
  .footer-link {
    font-size: 3em;    
    color: white;
    text-decoration: none;
  }
  .footer-link:hover {
  text-decoration: underline;
  }
  .footer-text {
  font-size: 10px;
  color: white;
  }
  
  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 5em 5em;
  }
  .small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeee8;
    padding: 5em 5em;
  }
  .work-pagination {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hmd-pagination {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .work-link {
    color: black;
    text-decoration: none;
    padding: 0 10px;
  }
  .work-link:hover {
    text-decoration: underline;
  }
  .work-text {
    color: black;
    width: 60%;
    line-height: 40px;
  }
}
